
.displayed {
	position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 0;
	}
/*
html { 
  background: url(test.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
.video-container
{
	position:relative;
	padding-bottom: 30%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container video, .video-container object, .video-container embed 
{
	position:fixed;
	top:25%;
	left:21%;
	width:60%;
	height:70%; 
}

video#vidfullscreen  
{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}
