/*Distance from top of page*/
#primary_nav_wrap
{
	margin-top:5px
}

/*Justification*/
#primary_nav_wrap ul
{
	list-style:none;
	z-index:1;
	position:relative;
	float:left; 
	margin:0;
	padding:0;
}

/*Font attributes*/
#primary_nav_wrap ul a
{
	display:block;
	color:rgb(140,140,140);
	text-decoration:none;
	font-weight:700;
	font-size:10px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

/*Ordering of menu items*/
#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

/*Background colour of dropdown menu TITLE when hovering*/
#primary_nav_wrap ul li:hover
{
	background:rgb(238,221,221);
}

/*Colour of dropdown menu CONTENT when hovering*/
#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:rgb(238,221,221);
	padding:0;
}

/*Background Colour of dropdown menu CONTENT when hovering*/
#primary_nav_wrap ul ul li:hover
{
	background:rgb(50,50,50);
}

/*Width of drop down menu*/
#primary_nav_wrap ul ul li
{
	float:none;
	width:120px;
}

/*Dropdown inter-text attributes*/
#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

/*non active link for CONTACT*/
.not-active {
   pointer-events: none;
   cursor: default;
}

